#vt-primary, .woocommerce-products-header {
    margin: 0px 0 50px 0;
    width: 100%;
}

.woocommerce-breadcrumb {
    margin: 50px 0 20px 0;
    font-size: 16px;
    color: #767676;
    line-height: 18px;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
}

.woocommerce-breadcrumb a{
    margin: 50px 0 20px 0;
    font-size: 16px;
    color: #767676;
    line-height: 18px;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
}

.woocommerce-products-header {
    border-top: 1px solid red ;

    /*border-top: 1px dashed #f0f0f0 ;*/
    color: inherit;
}

.woocommerce-products-header h1 {
    font-size: 20px;
    line-height: 22px;
}
